@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

body {
    background-color:hsl(217, 54%, 11%);
    font-size: 18px;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.border {
    display: flex;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    height: 28em;
    width: 17.5em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 15em;
    width: 15.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.image:hover {
    cursor: pointer;
}

.texts {
    display: flex inline-block;
    font-family: "Outfit";
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 15.5em;
    color: white;
    font-size: 18px;
}

.a {
    text-align: left;
}

.b {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    color:hsl(0, 0%, 77%);
    font-size: 16px;
}

.c {
    float: right;
    font-size: 16px;
    padding-left: 5px;
}

.d {
    font-size: 16px;
    margin-bottom: 20px;
    float: left;
    padding-left: 5px;
    margin-bottom: 25px;
}

.bordertop {
    display: flex;
    width: 15.5em;
    height: 1px;
    background-color: hsl(0, 0%, 50%);
    margin-bottom: 25px;
}

.clock {
    float: right;
}

.eth {
    float: left;
}

.avat {
    float: left;
    width: 1.5em;
    height: 1.5em;
    margin-right: 15px;
    border-radius: 15px;
    background-color: white;
}

.e {
    display: inline-block;
    color: hsl(0, 0%, 50%);
    font-size: 16px;
}

a {
    text-decoration: none ;
    color: white;
    
}

a:visited {
    color: white;
}

